.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 96px 24px;
  box-sizing: border-box;
  max-width: 1100px;
}

.header__links-list li {
  display: inline;
  /* grid-gap: 10px;
  justify-items: center; */
}

.header__link {
  display: inline-block;
  padding-right: 40px;
}

.header__link_active {
  display: inline-block;
  padding-right: 40px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list {
  list-style: circle;
}

.header__logo {
  width: 148px;
  height: 105px;
  margin: auto;
}

.header__address {
  font-family: Raleway, sans-serif;
  font-style: normal;
  justify-self: end;
}

.overlay {
  background-color: #D3D3D3;
  width: 1100px;
  height: 757px;
  opacity: 60%;
}

.overlay {
  background: black;
  width: 1100px;
  height: 757px;
  opacity: 60%;
  position: absolute;
  z-index: 1;

}

.cover {
width: 1100px;
height: 757px;
background-image: url(../images/cover.jpg);
z-index: 0;
position: relative;
}






